@{
    ViewBag.Title = "Home Page";
}

<!-- START SECTION: gallery -->
<section id="gallery" class="bg-gray-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Photo <span><em>Gallery</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</em></p>
                    <div class="gallery_nav">
                        <button class="btn btn-primary btn-bordered filter-button active" data-filter="all">All</button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-family">Family</button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-friends">Friends</button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-trips">Trips</button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-portraits">Portraits</button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-portraits1">Portraits</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gallery-popup">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-family">
                <a href="img/gallery/gallery-image-01.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-01.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-friends">
                <a href="img/gallery/gallery-image-02.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-02.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-family">
                <a href="img/gallery/gallery-image-03.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-03.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-04.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-04.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-trips">
                <a href="img/gallery/gallery-image-05.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-05.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-06.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-06.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-trips">
                <a href="img/gallery/gallery-image-07.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-07.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-08.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-08.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits1">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits1">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits1">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: gallery -->