@model WeddingCD.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- Modal -->
<div class="modal fade" style="margin-top:200px;" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- START SECTION: gallery -->
<section id="gallery" class="bg-gray-1">
    <div class="container">
        <div class="row">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Launch demo modal
            </button>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <div class="title-block">
                    <h1>@WeddingCD.Resources.View.CommonResources.Photo <span><em>@WeddingCD.Resources.View.CommonResources.Galerie</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac dignissim.</em></p>
                    <div class="gallery_nav">
                        <button class="btn btn-primary btn-bordered filter-button active" data-filter="all">@WeddingCD.Resources.View.CommonResources.Tous</button>

                        @foreach (var category in Model.Categories)
                        {
                            <button class="btn btn-primary btn-bordered filter-button" data-filter="all">@Html.Raw(category.Name)</button>
                        }

                        @*<button class="btn btn-primary btn-bordered filter-button active" data-filter="all">All</button>
                            <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-family">Family</button>
                            <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-friends">Friends</button>
                            <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-trips">Trips</button>
                            <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-portraits">Portraits</button>
                            <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-portraits1">Portraits</button>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row gallery-popup">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-family">
                <a href="img/gallery/gallery-image-01.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-01.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-friends">
                <a href="img/gallery/gallery-image-02.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-02.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-family">
                <a href="img/gallery/gallery-image-03.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-03.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-04.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-04.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-trips">
                <a href="img/gallery/gallery-image-05.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-05.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-06.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-06.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-trips">
                <a href="img/gallery/gallery-image-07.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-07.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-08.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-08.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits1">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits1">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits1">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: gallery -->